header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 20px;
    background-color: lightgray;
}

.header-title {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
    border: black solid 2px;
    background-color: lightgreen;
    padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}



.notification-box {
    background-color: lightyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: lightgray;
    flex: 0 20px;
}

@media(max-width: 900px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}