.qr-input {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: aliceblue;
}

.text-input {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 3rem;
}

.text-input:hover {
    background-color: lightgray;
}

.file-input::file-selector-button {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 3rem;
    font-weight: bold;
}

.file-input::file-selector-button:hover {
    background-color: lightgray;
}

.file-input-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.submit-button {
    border: 1px solid black;
    width: 50%;
    height: 3rem;
    background-color: lightgreen;
    font-weight: bold;
    cursor: pointer;
}
.submit-button:hover {
    background-color: limegreen;
}

.qr-preview {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .qr-input {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .qr-preview {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .notification-box {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}