.qr-input {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: aliceblue;
}

.text-input {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 3rem;
}

.file-input {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 3rem;
}

.qr-preview {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .qr-input {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .qr-preview {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .notification-box {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}