.qr-gallery {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}

.qr-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.qr-item img {
    max-width: 150px;
    max-height: 150px;
}